 #nav {
  margin: 13px 0 0 0;
}

#nav ul {
  text-align: justify;
  margin-bottom: -10px;
}

header {
  border-bottom: 2px solid black;
}

#nav ul::after {
  content: "";
  display: inline-block;
  width: 100%;
}

#nav ul li {
  display: inline-block;
  /* margin-bottom: 130px; */
  margin-bottom: 0;
  font-size: 1.3em;
  position: relative;
} 

ul ul {
  position: absolute;
  right: -10%;
  z-index: 1;
  height: 0px;
  overflow: hidden;
}
ul li:hover ul {
  height: auto;
  overflow: auto;
}

ul ul li {

  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
}

/* #nav a {
  
} */

#nav a:hover {
  text-decoration: none;
}

#test1 {
  position: relative;
}

.active {
  font-size: 1.3em;
}

/* css image et main */

#headerImage img {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* footer CSS */

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #222;

}
footer a {
  color: #eee;
}

/* Pour le carouselle*/
/* 
#carousel {

} */
/* #headerImage {
  
} */

/* Pour le DropDown */