 #nav {
  margin: 13px 0 0 0;
}

#nav ul {
  text-align: justify;
  margin-bottom: -10px;
}

header {
  border-bottom: 2px solid black;
}

#nav ul::after {
  content: "";
  display: inline-block;
  width: 100%;
}

#nav ul li {
  display: inline-block;
  /* margin-bottom: 130px; */
  margin-bottom: 0;
  font-size: 1.3em;
  position: relative;
} 

/* Pour le DropDown nav */

ul ul {
  position: absolute;
  right: -10%;
  z-index: 1;
  height: 0px;
  overflow: hidden;
}
ul li:hover ul {
  height: auto;
  overflow: auto;
}

ul ul li {

  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
}

/* #nav a {
  
} */

#nav a:hover {
  text-decoration: none;
}

#test1 {
  position: relative;
}

.active {
  font-size: 1.3em;
}

/* css image et main */

#headerImage img {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* footer CSS */

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #222;

}
footer a {
  color: #eee;
}

/* Pour le dropdown article*/

.dropdown.closed {
  height: 0px;
  overflow: hidden;
}

.dropdown {

  margin-top: 10px;
}

/* Pour les boutons */

.boutonentrer {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #bbb;
}

.boutonentrer:hover, .boutonenregister:hover {
  box-shadow: inset 0 0 0 25px #bbb;
}

.boutonenregister{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin-bottom: 5px;
    background-color: #33C3F0;
}

.boutonsupr {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin-bottom: 5px;
    background-color: red;
}

/* #textadd {

} */
 
/* pour la gallery */

#maingalery .row .one-third img {
  height: 300px; 
  width: 300px;
}

#maingalery .row .twelve img{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

#marginmosaique {
  margin-top: 10px;
  margin-bottom: 10px;
}

.suppr {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: red;
  padding: 2px;
  border: solid 1px black;
}

#suppr-container {
  position: relative;
  text-align: center;
}

/* Pour la page Game */

#maingame h1{
  text-align: center;
}

#maingame h1 a {
  text-decoration: none;
}

#maingame img{
  display: block;
  margin-left: auto;
  margin-right: auto
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Pour la page Pierre Papier Ciseaux  */

#mainpierre img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#mainpierre h4 {
  text-align: center;
}

#mainpierre h5 {
  text-align: center;
}

#mainpierre #gagne {
  color: green;
}

#mainpierre #perdu {
  color: red;
}

#mainpierre #egalite {
  color: grey;
}